.DS_Store

# Ignore Vim temporary files
/vim/.netrwhist
*.swp
*.swo

# keep those directory

# Keep .gitkeep files
# To keep a directory, add a .gitkeep file to it and ignore the directory with a
# wildcard: `path/to/dir/*` this will ignore content but not director itself.
!/**/.gitkeep

# Ignore specific config
.extra
.path
.gitconfig.local
.env

# Vim files
/vim/**/plugged
/vim/**/undodir
/vim/**/swp
.netrwhist
/.swl
/.swm
/.swn

# IDE specific files
dotfiles.code-workspace

# Backup files
*.bak
