[submodule "vim/bundle/dracula-theme"]
	path = vim/bundle/dracula-theme
	url = https://github.com/dracula/vim.git
[submodule "vim/bundle/vim-eunuch"]
	path = vim/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
