[submodule "vim/bundle/dracula-theme"]
	path = vim/bundle/dracula-theme
	url = https://github.com/dracula/vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
