"*":
  "activate-power-mode":
    plugins:
      playAudio: true
      screenShake: true
  "atom-beautify":
    general:
      _analyticsUserId: "e2a73e32-688d-4b41-a63b-0f9a634dfb9b"
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "activate-power-mode"
    ]
    projectHome: "/Users/cedricaellen/Projects"
    telemetryConsent: "limited"
  "exception-reporting":
    userId: "52f27459-32fc-4ec5-ba0f-8af2d860a71f"
  "linter-ui-default":
    panelHeight: 64
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
