[
  {
    title: "Foehn"
    paths: [
      "/Users/cedricaellen/Projects/foehn"
    ]
  }
  {
    title: "Alienlebarge Github Com"
    paths: [
      "/Users/cedricaellen/Projects/alienlebarge.github.com"
    ]
  }
  {
    title: "~"
    paths: [
      "/Users/cedricaellen"
    ]
  }
]
