atom-workspace,
atom-text-editor {
  font-family: "Operator Mono", "Source Code Pro";
  font-size: 14px;
  line-height: 1.7;

  /**
   * Comments
   */
  .comment {
    font-style: italic;
  }

}

atom-panel.tool-panel {
    font-size: 0.88em;
}

.tree-view-resizer {
    min-width: 300px;
}
